body{
    background-image: url(https://imgs.search.brave.com/ChME6wkm62fzaJToGIXuFW3kNCShYxjqeHOFeW_4lDE/rs:fit:1200:1200:1/g:ce/aHR0cDovL2JnZm9u/cy5jb20vdXBsb2Fk/L3dvb2QlMjBfdGV4/dHVyZTMxODEuanBn);


}

.contentContainer{
    background-color: white;
    border-radius: 10px;
}